body{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
/*header start*/
header{
    background-color: #121B2A;
    padding: 10px 0;
}

.wrapper {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.logo {
    width: 15%;
    float: left;
}
.logo img{
    width: 100%;
}

.menu {
    width: 70%;
    float: right;
    margin-top: 24px;
}
.menu ul{
    list-style-type: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 4px;
    padding: 0 20px;
    transition: 0.3s;
}
.menu ul li:last-child a{
    padding-right: 0;
}
.menu ul li a:hover{
    color: #0078BD;
}
/*header end*/
/*banner section start*/
.banner {
    background-image: linear-gradient(rgba(18, 27, 42,0.5),rgba(18, 27, 42,0.5)),url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.b_content {
    width: 50%;
    margin-top: 230px;
    margin-bottom: 75px;
}
.b_content h1{
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    margin: 0;
}
.b_content h2{
    font-size: 30px;
    color: #0075BA;
    text-transform: capitalize;
    margin: 0;
}
.b_content p{
    font-size:  16px;
    color: #fff;
    line-height: 25px;
    margin:0;
}
.b_content button{
    width: 230px;
    height: 50px;
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    color: #757575;
    text-transform: uppercase;
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.b_content button:focus{
    outline: 0;
}
.b_content button:hover{
    color: #0075BA;
}
.b_content button span{
    background-color: #0075BA;
    color: #fff;
    padding: 3px 7px;
    border-radius: 50%;
}
/*banner section end*/
